*{
  box-sizing:border-box;
  font-size:12.5px;
  font-family:"Oswald",sans-serif;
  text-align:center;
  margin:0px;
  padding:0px;
}

body{
  width:100vw;
  height:100vh;
  background-image:linear-gradient(rgba(255, 255, 255, 0.774),rgba(128, 128, 128, 0.329)),
  url(./bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h4{
  font-size:4rem;
}

.bar:hover{
fill:rgb(44, 44, 133)
}

#tooltip{

font-size:2rem
}