*{
  box-sizing:border-box;
  font-size:1,25rem;
  font-family:"Oswald";
  margin:0;
  padding:0;
}

#background{
  width:100vw;
  height:100vh;
  background-image:linear-gradient(rgba(255, 255, 255, 0.774),rgba(128, 128, 128, 0.329)),
  url(./bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}

